body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 1rem;
}

h1 {
	font-size: 2rem;
	font-weight: normal;
	margin: 1rem 0;
}

h2 {
	background-color: #eeeeee;
	border-left: 1px solid #cccccc;
	font-size: 1.5rem;
	font-weight: normal;
	margin: 1rem 0;
	padding: 0.25rem 1rem;
}

h3 {
	font-size: 1rem;
	margin: 1rem 0;
}

p {
	margin: 1rem 0;
}

pre {
	border: 1px solid #eeeeee;
	border-radius: 0.5rem;
	margin: 0;
	max-height: 75vh;
	overflow: auto;
	padding: 1rem;
}

code {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1rem;
}

.logic {
	display: flex;
	gap: 0.25rem;
	margin: 0.5rem 0;

	&>* {
		flex: 1;
	}
}
